tr.clickable-headers>th{
  cursor: default;
}

@media (max-width: 768px) {
  .full-btn-group {
    width: 100%;
    margin-bottom: 10px;
  }

  .full-btn-group .btn {
    width: 50%;
  }
}

body {
  margin-bottom: 20px;
}
